.middle_container {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
    flex-direction: column;
    position: relative;
}

#google_icon {
    height: 20%;
    width: 20%;
}

#search-bar {
    margin-top: 30px;
    height: 55px;
    width: 720px;
    border-radius: 26px;
    border: 1px solid #dadde1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.hover-effect {
    box-shadow: 0px 1px 5px #d9d9d9;
    cursor: text;
} 

.focus-effect{
    box-shadow: 0px 1px 5px #d9d9d9;
    outline: none;
}

#search-icon-wrapper {
    height: 48px;
    width: 46px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#search-icon {
    height: 20px;
    width: 20px;    
}

#textarea {
    height: 47px;
    width: 80%;
}

#source-icon-wrapper {
    height: 47px;
    width: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#audio-icon {
    height: 23px;
    width: 17px;
    margin-right: 5px;
}

#audio-icon:hover {
    cursor: pointer;
}

#photo-icon {
    height: 30px;
    width: 30px;
    margin-left: 15px;
}

#photo-icon:hover {
    cursor: pointer;
}
.search-and-lucky-wrapper {
    height: 100px;
    width: 100%;
    margin-top: 10px;  
    display: flex;
    justify-content: center;
    align-items: center; 
}

#google-search-wrapper {
    background-color: #F8F9FA;
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#google-search-wrapper:hover {
    box-shadow: 0px 0px 1px;
    cursor: pointer;
}

#google-search {
    color: #1F1F1F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#feeling-lucky-wrapper {
    background-color: #F8F9FA;
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#feeling-lucky-wrapper:hover {
    box-shadow: 0px 0px 1px;
    cursor: pointer;
}

#feeling-lucky {
    color: #1F1F1F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#language {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #1F1F1F;
    display: inline-block;
}

#lang-link {
    margin-right: 10px;
}


